* {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  background-image: linear-gradient(to bottom right, #C49382, #884056, white);
}

h1 {
  background-color: indianred;
  font-size: 35px;
  position: relative;
  height: 63px;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: 40px;
}

.center {
  border: 3px solid black;
  border-radius: 15px;
  display: block;
  margin: auto;
  height: 46%;
  width: 47%;
}

h2 {
  background-color: #fff5ee9d;
  font-size: 35px;
  font-weight: bold;
}

h3 {
  font-size: 40px;
  font-weight:bolder;
}

h1, h2, h3 {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

li {
  font-size: 25px;
}